<div data-role="fieldcontain">
<%= form_for(@entry) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :entrytime %><br />
    <%= f.datetime_select :entrytime, :default => Time.now %>
  </div>
  <div class="field">
      <%= image_tag("sad.png", :height => '50', :width => '50', :padding => "0px")%>
      <%= f.label :sickstatus, :class => "ui-hidden-accessible" %>
      <%#<%= f.number_field :sickstatus %>
      <input data-inline="true" class="ui-slider-bg ui-btn-active ui-btn-corner-all" type="range" name="feeling" id="entry_sickstatus" value="1" step="1" min="1" max="10" data-highlight="true"  />
      <%= image_tag("happy.png", :height => '50', :width => '50', :padding => "0px")%>



  </div>
  <div class="field">
    <%= f.label :fever %><br />
    <%= f.check_box :fever %>
  </div>
  <div class="field">
    <%= f.label :sorethroat %><br />
    <%= f.check_box :sorethroat %>
  </div>
  <div class="field">
    <%= f.label :runnynose %><br />
    <%= f.check_box :runnynose %>
  </div>
  <div class="field">
    <%= f.label :stomachache %><br />
    <%= f.check_box :stomachache %>
  </div>
  <div class="field">
    <%= f.label :other %><br />
    <%= f.check_box :other %>
  </div>
  <div class="field">
    <%= f.label :medication %><br />
    <%= f.check_box :medication %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.hidden_field :user_id, :value => 1 %>
    <%#= f.collection_select :user_id, @users, :id, :firstname, {:prompt => "Who?"},{}%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
